.tabla-redondeada thead{
    background-color: gray !important;
    color: white;
   }

   .tabla-redondeada thead th:first-child {
    border-left: none;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    } 

    .tabla-redondeada thead th:last-child {
        border-left: none;
        border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
    }
    .tabla-redondeada tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    .tabla-redondeada tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .tabla-redondeada tbody tr:last-child td{
        border-bottom: 1px solid #dee2e6;
    }

   .dataTables_length{
    margin-bottom: .7rem;
   }
   .dataTables_filter{
    margin-bottom: .7rem;
   }
   table.dataTable.no-footer{
    border-bottom: none !important;
   } 
   .area-formas-pago{
    border: 1px solid #ced4da;
    padding: 2rem;
    border-radius:7px;
   }

          /* 1. Definimos una transición suave para el icono */
[data-bs-toggle="collapse"] .feather-chevron-right {
transition: transform 0.2s ease-in-out;
}

/* 2. Cuando el botón (el li) dice que está expandido, rotamos el icono */
[data-bs-toggle="collapse"][aria-expanded="true"] .feather-chevron-right {
transform: rotate(90deg);
}

.switch {
position: relative;
display: inline-block;
width: 44px;
height: 24px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
inset: 0;
background-color: #ced4da; /*Gris*/
transition: .25s;
border-radius: 34px;
}

.slider::before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 3px;
bottom: 3px;
background-color: white;
transition: .25s;
border-radius: 50%;
}

/* .switch input:checked + .slider {
background-color:#48D1CC; 
} */

.switch input:checked + .slider::before {
transform: translateX(20px);
}

#contenedor-agregar-permiso .dropdown-menu.show{
inset: 97px auto auto 41px !important;
}

.swal2-popup .bootstrap-select .dropdown-menu {
z-index: 3000 !important;
inset: 97px auto auto 41px !important;

}

.switch-verde input:checked + .slider { background-color: #48D1CC !important; } /* Verde */
.switch-azul input:checked + .slider { background-color: #51AFF7 !important; }     /* Azul */
.switch-rojo input + .slider { background-color: tomato !important; }    