
        /* 1. Definimos una transición suave para el icono */
        [data-bs-toggle="collapse"] .feather-chevron-right {
            transition: transform 0.2s ease-in-out;
        }
        
        /* 2. Cuando el botón (el li) dice que está expandido, rotamos el icono */
        [data-bs-toggle="collapse"][aria-expanded="true"] .feather-chevron-right {
            transform: rotate(90deg);
        }
        
        .switch {
            position: relative;
            display: inline-block;
            width: 44px;
            height: 24px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            inset: 0;
            background-color: #ced4da;
            transition: .25s;
            border-radius: 34px;
        }
        
        .slider::before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: .25s;
            border-radius: 50%;
        }
        
        .switch input:checked + .slider {
            background-color:#48D1CC; /* bootstrap primary */
        }
        
        .switch input:checked + .slider::before {
            transform: translateX(20px);
        }