/* Spinner minimalista para botones */
.lds-dual-ring-sm {
    display: inline-block;
    width: 1.2rem;  /* Tamaño proporcional al texto */
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .lds-dual-ring-sm:after {
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid currentColor; /* Grosor fino para botón */
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .lds-dual-ring-md:after{
    content: " ";
    display: block;
    filter: blur(2px);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid currentColor; /* Grosor fino para botón */
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.4s linear infinite;
  }

  #avatar-loader .lds-dual-ring-md:after {
    border-width: 8px; /* Un poco más grueso para que se vea sobre la foto */
    border-color: #fff transparent #fff transparent; /* Spinner blanco */
}

/* Estilo base del icono */
.arrow-icon {
  transition: transform 0.3s ease; /* Aquí sucede la magia de la animación */
  width: 16px;
  height: 16px;
}

/* Cuando el acordeón está ABIERTO (Bootstrap quita la clase .collapsed) */
.sidebar-item.accordion-button:not(.collapsed) .arrow-icon {
  transform: rotate(90deg);
}

/* Opcional: Quitar el color azul y la sombra por defecto de Bootstrap en el acordeón */
.accordion-button:focus {
  box-shadow: none;
  background-color: transparent;
}
.accordion-button::after {
  display: none !important; /* Escondemos la flecha por defecto de Bootstrap si existe */
}